/* Основные стили */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    background: url('https://i.pinimg.com/564x/47/9e/e4/479ee40ab9ae84e296b3c966783874a1.jpg') no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
}

/* Навигационная панель */
#navigation-panel {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: navy;
    border-top: 2px solid black;
    padding: 10px;
}

#navigation-panel button {
    background: none;
    border: none;
    cursor: pointer;
}

#navigation-panel img {
    width: 48px;
    height: 48px;
}

/* Стили для реферальной программы */
#referral-link {
    color: yellow;
    font-weight: bold;
}

#share-referral {
    margin-top: 10px;
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#share-referral:hover {
    background-color: #218838;
}

/* Адаптивность */
@media screen and (max-width: 600px) {
    .tap-button img {
        width: 200px;
        height: 200px;
    }

    .energy, .timer {
        font-size: 16px;
    }
}

